<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Sales</title>
    <div th:replace="base :: headerfg"></div>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<form th:action="@{/processSale}" method="post" th:object="${sale}">
    <input type="hidden" th:field="*{id}"/>
    Item Name:<input type="text" th:field="*{name}"/> <br/>
    Price:<input type="number" th:field="*{price}"/> <br/>

    Choose a customer:
    <select name="custid">
        <option th:each="cust : ${customers}"
                th:value="${cust.id}"
                th:text="${cust.name}"></option>
    </select>
    <br/>
    <input type="submit" value="New Sale">
</form>
<br>
<div th:replace="base ::footerfg"></div>
</body>
</html>